
<div layout="column" ng-cloak layout-margin>
  <md-content class="md-padding" ng-repeat="search in searchTypes" layout-margin>
    <form ng-submit="$event.preventDefault()">
      <!-- <p>Search Yelp for Restaurants</p> -->
      <md-autocomplete
          md-selected-item="selectedItem"
          md-search-text="search.searchValue"
          md-item-text="item[search.displayString]"
          md-items="item in querySearch(search.searchValue, search.sType)"
          md-min-length="2"
          md-clear-button="true"
          md-floating-label="{{search.label}}"
          md-select-on-match="true"
		  md-selected-item-change="searchChanged(search.sType, item)"
		  md-search-text-change	="textChange(search.sType)"
		  ng-init="search.searchValue = search.defaultValue ">
        <md-item-template>
          <span md-highlight-text="searchText" md-highlight-flags="^i">{{item[search.displayString]}}</span>
        </md-item-template>
        <md-not-found>
          No suggestions matching "{{search.searchValue}}" were found.
        </md-not-found>
      </md-autocomplete>
      <br/>
    </form>
  </md-content>
  <md-content>

     <section layout="row" layout-margin layout-align="center center">
      <md-button flex="45" class="md-raised md-primary" ng-click="search()">Search</md-button>
    </section>
    </md-content>
</div>
<md-progress-linear md-mode="indeterminate" ng-show="waiting"></md-progress-linear>
<div ng-show="errorMessage && !searchResults">{{errorMessage}}</div>
<div layout="column" layout-align="center center" ng-show="searchResults">
	<p>Filter By:</p>
 	<md-radio-group ng-model="propertyName" layout="row" layout-align="center center" ng-show="searchResults">
        <md-radio-button value="name">Name</md-radio-button>
        <md-radio-button value="price.length">Price</md-radio-button>
        <md-radio-button value="rating">Rating</md-radio-button>
    </md-radio-group>
    <md-switch ng-model="reverse" aria-label="Reverse">
    {{reverse ? 'Filter Order: Descending' : 'Filter Order: Ascending'}}
  	</md-switch>

</div>
<md-list layout-margin ng-show="searchResults">
      <md-list-item class="md-3-line" ng-repeat="profile in searchResults | orderBy:propertyName:reverse | limitTo: 20" ng-click="goTo(profile.url)">
          <img ng-src="{{profile.image_url}}" class="md-avatar" alt="{{profile.name}}" />
          <div class="md-list-item-text" layout="column">
            <h3>{{profile.name}}</h3>
            <h4>{{profile.location.display_address[0] + " " + profile.location.display_address[1]}}</h4>
            <p>{{ profile.phone }}</p>
            <div class="md-secondary">
            <p><small>Rating:</small>{{profile.rating}}</p>
            <p>{{profile.price}}</p>
            </div>
          </div>
        </md-list-item>
</md-list>
